<div
  class='fixed   w-full  z-50'
>
  <div class='bg-[#F3F1E8] px-[50px] w-full py-[15px] '>
    <div class='flex text text-[#171717] text-[16px] flex-row gap-[15px] px-[50px]'>
      <div>Privatperson</div>
      <div>Företag</div>
    </div>
  </div>
  <div
    class='py-[15px] w-full'
    style='background: linear-gradient(0deg, rgba(23, 23, 23, 0.00) 0%, #171717 100%);'
  >
    <div
      class='layout w-full   flex flex-row justify-between items-center'
    >
      <div>
        <img
          src='{{ 'logga-vit.svg' | asset_url }}'
          alt='Logo'
          class='w-auto h-[53px]'
        >
      </div>
      <div class='flex header text-white flex-row gap-[50px]'>
        <div>Start</div>
        <div>Våra lösningar</div>
        <div class='flex flex-row gap-[10px] items-center'>
          Våra produkter
          <img
            src='{{ 'dropdown.svg' | asset_url }}'
            alt='Logo'
            class='w-[8px] h-[14px]'
          >
        </div>
        <div class='flex flex-row gap-[10px] items-center'>
          Support
          <img
            src='{{ 'dropdown.svg' | asset_url }}'
            alt='Logo'
            class='w-[8px] h-[14px]'
          >
        </div>
      </div>
      <button class='flex flex-row gap-[20px] bg-white knappetikett text-[#171717] p-[20px] py-[15px] rounded-[10px]'>
        Kundvagn
        <svg
          xmlns='http://www.w3.org/2000/svg'
          width='21'
          height='22'
          viewBox='0 0 21 22'
          fill='none'
        >
          <path d="M2.37325 16.02L1.16926 8.84C0.98726 7.754 0.896261 7.212 1.18826 6.856C1.47926 6.5 2.01525 6.5 3.08624 6.5H17.9141C18.9851 6.5 19.5211 6.5 19.8121 6.856C20.1041 7.212 20.0121 7.754 19.8311 8.84L18.6271 16.02C18.2281 18.4 18.0291 19.589 17.2141 20.295C16.4001 21 15.2261 21 12.8782 21H8.12219C5.77422 21 4.60023 21 3.78623 20.294C2.97124 19.589 2.77224 18.399 2.37325 16.019M16.0001 6.5C16.0001 5.04131 15.4207 3.64236 14.3892 2.61091C13.3578 1.57946 11.9588 1 10.5002 1C9.0415 1 7.64256 1.57946 6.61112 2.61091C5.57968 3.64236 5.00022 5.04131 5.00022 6.5" stroke="#171717" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </button>
    </div>
  </div>
</div>

{% stylesheet %}
{% endstylesheet %}

{% schema %}
{
  "name": "t:general.header",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "t:labels.menu"
    }
  ]
}
{% endschema %}
