<section class='relative pb-[87px] rounded-t-[25px] bg-[#FDFDFB] lg:mt-[-20px] z-10'>
  <div class='layout  pt-[20px] lg:pt-[30px] grid grid-cols-1 lg:grid-cols-3 gap-[20px]'>
    {% for block in section.blocks %}
      {% if block.type == "card" %}
        <a
          class='bg-[#F3F1E8] p-[20px] md:p-[30px] rounded-[15px] no-underline'
          href='{{ block.settings.link }}'
        >
          <div>
            {% if block.settings.heading != blank %}
              <div class=' flex flex-row items-center justify-between'>
                <h3 class=' headline1 text-[#171717]  decoration-none text-[24px] md:text-[36px]'>
                  {{ block.settings.heading }}
                </h3>
                <div>
                  <svg
                    xmlns='http://www.w3.org/2000/svg'
                    width='30'
                    height='24'
                    viewBox='0 0 30 24'
                    fill='none'
                  >
                    <path d="M2 12H27.5556L17.5556 2" stroke="#171717" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M2 12H27.5556L17.5556 22" stroke="#171717" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </div>
              </div>
            {% endif %}
            {% if block.settings.description != blank %}
              <p class='text pt-[20px] md:pt-[30px] text-[#171717]/75'>
                {{ block.settings.description }}
              </p>
            {% endif %}
          </div>
        </a>
      {% endif %}
    {% endfor %}
  </div>
</section>

{% schema %}
{
  "name": "Länkar sektion",
  "tag": "section",
  "max_blocks": 3,
  "blocks": [
    {
      "type": "card",
      "name": "Kort",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Rubrik",
          "default": "Kort rubrik"
        },
        {
          "type": "textarea",
          "id": "description",
          "label": "Beskrivning",
          "default": "Kort beskrivning"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Länk"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Länkar sektion",
      "blocks": [
        {
          "type": "card"
        },
        {
          "type": "card"
        },
        {
          "type": "card"
        }
      ]
    }
  ]
}
{% endschema %}
