/** Critical CSS for the theme. This file is included on every page. */

/* Reset styles inspired by https://www.joshwcomeau.com/css/custom-css-reset/ */
* {
  box-sizing: border-box;
  margin: 0;
}

html:has(dialog[scroll-lock][open], details[scroll-lock][open]) {
  overflow: hidden;
}

.layout {
  padding-left: 120px;
  padding-right: 120px;
  max-width: 1440px;
  margin: 0 auto;
}

@media (max-width: 1023px) {
  .layout {
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
  }
}

.headline1 {
  font-family: var(--font-halyard--family);
  font-weight: 400;
  font-size: 60px;
  line-height: 90%;
  border: none;
  outline: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .headline1 {
    font-size: 40px;
    border: none;
    outline: none;
    cursor: pointer;
  }
}

.body1 {
  font-family: var(--font-halyard--family);
  font-weight: 300;
  font-size: 24px;
  line-height: 110%;
  border: none;
  outline: none;
  cursor: pointer;
}
@media (max-width: 768px) {
  .body1 {
    font-size: 16px;
  }
}

.text {
  font-family: var(--font-halyard--family);
  font-weight: 300;
  font-size: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  line-height: 110%;
}
@media (max-width: 768px) {
  .text {
    font-size: 16px;
  }
}

.knappetikett {
  font-family: var(--font-halyard--family);
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  border: none;
  outline: none;
  cursor: pointer;
}

html,
body {
  overflow-x: hidden;
}
