*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  
}

.text-body {
  font-size: 1rem;
  line-height: 1.5rem;
  line-height: 1.625;
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity, 1))
}

@media (min-width: 640px) {
  .text-body {
    font-size: 1.125rem;
    line-height: 1.75rem
  }
}

.fixed {
  position: fixed
}

.absolute {
  position: absolute
}

.relative {
  position: relative
}

.inset-0 {
  inset: 0px
}

.z-10 {
  z-index: 10
}

.col-span-2 {
  grid-column: span 2 / span 2
}

.col-span-3 {
  grid-column: span 3 / span 3
}

.col-span-1 {
  grid-column: span 1 / span 1
}

.block {
  display: block
}

.flex {
  display: flex
}

.table {
  display: table
}

.grid {
  display: grid
}

.contents {
  display: contents
}

.hidden {
  display: none
}

.h-\[300px\] {
  height: 300px
}

.h-full {
  height: 100%
}

.h-\[175px\] {
  height: 175px
}

.min-h-screen {
  min-height: 100vh
}

.w-full {
  width: 100%
}

.shrink-0 {
  flex-shrink: 0
}

.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr))
}

.grid-cols-5 {
  grid-template-columns: repeat(5, minmax(0, 1fr))
}

.flex-row {
  flex-direction: row
}

.flex-col {
  flex-direction: column
}

.items-start {
  align-items: flex-start
}

.items-end {
  align-items: flex-end
}

.items-center {
  align-items: center
}

.justify-start {
  justify-content: flex-start
}

.justify-end {
  justify-content: flex-end
}

.justify-center {
  justify-content: center
}

.justify-between {
  justify-content: space-between
}

.gap-\[20px\] {
  gap: 20px
}

.gap-\[40px\] {
  gap: 40px
}

.overflow-hidden {
  overflow: hidden
}

.overflow-visible {
  overflow: visible
}

.rounded-\[10px\] {
  border-radius: 10px
}

.rounded-\[15px\] {
  border-radius: 15px
}

.rounded-t-\[25px\] {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px
}

.bg-\[\#F3F1E8\] {
  --tw-bg-opacity: 1;
  background-color: rgb(243 241 232 / var(--tw-bg-opacity, 1))
}

.bg-\[\#FDFDFB\] {
  --tw-bg-opacity: 1;
  background-color: rgb(253 253 251 / var(--tw-bg-opacity, 1))
}

.bg-\[\#FFF\] {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1))
}

.object-cover {
  -o-object-fit: cover;
     object-fit: cover
}

.p-\[20px\] {
  padding: 20px
}

.p-\[30px\] {
  padding: 30px
}

.px-\[20px\] {
  padding-left: 20px;
  padding-right: 20px
}

.py-\[17px\] {
  padding-top: 17px;
  padding-bottom: 17px
}

.px-\[30px\] {
  padding-left: 30px;
  padding-right: 30px
}

.py-\[20px\] {
  padding-top: 20px;
  padding-bottom: 20px
}

.py-\[18px\] {
  padding-top: 18px;
  padding-bottom: 18px
}

.pb-\[110px\] {
  padding-bottom: 110px
}

.pb-\[20px\] {
  padding-bottom: 20px
}

.pb-\[87px\] {
  padding-bottom: 87px
}

.pt-\[20px\] {
  padding-top: 20px
}

.pb-\[50px\] {
  padding-bottom: 50px
}

.pb-\[40px\] {
  padding-bottom: 40px
}

.pt-\[87px\] {
  padding-top: 87px
}

.pt-\[62px\] {
  padding-top: 62px
}

.pb-\[62px\] {
  padding-bottom: 62px
}

.text-\[24px\] {
  font-size: 24px
}

.text-\[40px\] {
  font-size: 40px
}

.italic {
  font-style: italic
}

.text-\[\#171717\] {
  --tw-text-opacity: 1;
  color: rgb(23 23 23 / var(--tw-text-opacity, 1))
}

.text-\[\#171717\]\/75 {
  color: rgb(23 23 23 / 0.75)
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1))
}

.no-underline {
  text-decoration-line: none
}

.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

/* Custom component classes */

/* Custom utilities */

@media (min-width: 640px) {
  .sm\:h-\[300px\] {
    height: 300px
  }

  .sm\:w-\[70\%\] {
    width: 70%
  }
}

@media (min-width: 768px) {
  .md\:col-span-3 {
    grid-column: span 3 / span 3
  }

  .md\:col-span-2 {
    grid-column: span 2 / span 2
  }

  .md\:block {
    display: block
  }

  .md\:h-\[300px\] {
    height: 300px
  }

  .md\:grid-cols-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr))
  }

  .md\:flex-row {
    flex-direction: row
  }

  .md\:items-center {
    align-items: center
  }

  .md\:gap-\[40px\] {
    gap: 40px
  }

  .md\:gap-\[20px\] {
    gap: 20px
  }

  .md\:p-\[30px\] {
    padding: 30px
  }

  .md\:pb-\[120px\] {
    padding-bottom: 120px
  }

  .md\:pb-\[40px\] {
    padding-bottom: 40px
  }

  .md\:pt-\[30px\] {
    padding-top: 30px
  }

  .md\:pb-\[50px\] {
    padding-bottom: 50px
  }

  .md\:pt-\[87px\] {
    padding-top: 87px
  }

  .md\:pb-\[87px\] {
    padding-bottom: 87px
  }

  .md\:text-\[36px\] {
    font-size: 36px
  }
}

@media (min-width: 1024px) {
  .lg\:mt-\[-20px\] {
    margin-top: -20px
  }

  .lg\:w-\[90\%\] {
    width: 90%
  }

  .lg\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr))
  }

  .lg\:pt-\[30px\] {
    padding-top: 30px
  }
}
